.password-container {
    position: relative;
}

.password-toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
}

.password-sec label {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.password-sec input {
    padding: 10px 24px;
}

.password-sec input::placeholder {
    color: #DF0B0BCC;
    font-weight: 300;
    font-size: 18px;
}

.password-sec .fa-eye {
    color: #DF0B0B;
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 520px) {

    /* password settings */
    .password-sec input {
        padding: 7px 12px;
    }

    .password-sec input::placeholder {
        font-size: 14px;
    }

    .headline {
        text-align: center;
    }
}